.infobox-main {
    position: absolute;
    z-index:3;
    top:20px;
    right: 20px;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    padding:10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15) inset;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.infobox-close-btn {
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    background: linear-gradient(90deg, #D9E4F1 0%, #C0D3E8 0.01%, #004EA4 65.58%);
    margin:0;
    padding:8px;
    border:none;
    cursor: pointer;
    color:#FFFFFF;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.infobox-desti {
    font-size: 1.5rem;
    font-weight: 700;
}