.geolocator-btn {
    display: flex;
    flex-direction: row;
    align-items:center;
    border:none;
    margin:0;
    padding:7px;
    cursor: pointer;
    background: linear-gradient(90deg, #D9E4F1 0%, #C0D3E8 0.01%, #004EA4 65.58%);
    position:absolute;
    top: 90px;
    left:76px;
    z-index:2;
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    transition: left 0.4s ease;
}

.geolocator-btn:hover {
    background: black;
}

.geolocator-btn-img {
    height: 30px;
    width: auto;
}