.sidebar-main-box {
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    display: flex;
    flex-direction: column;
    padding:15px 0px 15px 0px;
    height: 100%;
    background-color: #fff;
    gap:15px;
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.20);
    transition: width 0.4s ease;
}

.transform-opacity {
    transition: opacity 0.5s ease 0.1s;
}

.transform-opacity-fast {
    transition: opacity 0.1s ease;
}

.transform-opacity-delayed {
    transition: opacity 0.3s ease 0.2s;
}

.transform-opacity-cancelled {
    transition: opacity 0s ease;
}

.sidebar-logo {
    height: auto;
    width: 36px;
}

.sidebar-homecrag {
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 5px;
}

.sidebar-content-box {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-top: 10px;
}

.sidebar-toggle-btn, .sidebar-link {
    margin:0;
    outline: none;
    padding:0;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: transparent;
}

.sidebar-toggle-btn:hover, .sidebar-link:hover {
    filter: invert(15%) sepia(62%) saturate(4844%) hue-rotate(200deg) brightness(93%) contrast(104%);
}

.sidebar-toggle-btn-img {
    height: 30px;
    width: auto;
}

.sidebar-toggle-btn-img-small {
    height: 25px;
    width: auto;
}

.sidebar-column-box {
    display: flex;
    flex-direction: column;
    gap:2px;
}

.sidebar-big-column-box {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-top: 10px;
}

.sidebar-row-box {
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}

.sidebar-big-row-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:12px;
    padding-left: 5px;
    padding-top: 3px;
}

.padding-left-10px {
    padding-left: 10px;
}

.border-bottom {
    border-bottom: 2px solid #c5c5c5;
}