.sidebar-categories-box{
    display: flex;
    flex-direction: column;
    gap:10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.36);
    border-radius: 5px;
    margin:5px 8px 5px 2px;
    padding: 5px 8px 5px 6px;
}

.sidebar-category-box {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.sidebar-category-title-box {
    display: flex;
    flex-direction: row;
    gap:2px;
    align-items: center;
}

.sidebar-category-display-btn {
    background-color: transparent;
    border:none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.sidebar-category-display-btn:hover {
    filter: invert(15%) sepia(62%) saturate(4844%) hue-rotate(200deg) brightness(93%) contrast(104%);;
}

.sidebar-category-display-btn-img {
    height: 25px;
    width: auto;
}

.sidebar-category {
    font-size: 1.5rem;
    font-weight: 700;
}

.sidebar-category-destination-box {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.sidebar-category-destination-btn {
    background-color: transparent;
    border:none;
    padding:0;
    margin:0;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    margin-left:30px;
}

.sidebar-category-destination-btn:hover {
    filter: invert(15%) sepia(62%) saturate(4844%) hue-rotate(200deg) brightness(93%) contrast(104%);;
}